.navbar li a.nav-link {
    color: black !important;
}

.navbar li.active a.nav-link {
    color: #b6141f !important;
}

.navbar.navbar-expand-lg.fixed-top.scrolling-navbar {
    background-color: #f3f4f3;
}

.schedule .card-header h4 {
    margin: 10px 10px 10px 0;
}

.his-image {
    width: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.his-image3 {
    width:
        180px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.his-image5 {
    width: 145px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.his-text {
    margin: auto;
}

.his-3 {
    display: block !important
}

.info-text {
    transform:
        translate(0px, -15px) !important;
    padding: 10px 20px !important;
    opacity:
        0.8;
}

.info-text5 {
    transform: translate(-5px, -15px) !important;
    padding:
        10px 20px !important;
    opacity: 0.8;
}

.info-text h3 {
    margin-bottom: 0 !important;
}

.info-text5 h3 {
    margin-bottom: 0 !important;
}

.speaker {
    padding: 5px;
    position:
        relative;
    transition: all 0.3s ease-in-out 0s;
    float: left;
}

.speaker img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.speaker .info-text {
    width: 180px;
    position: absolute;
    bottom: 10px;
    background:
        #f3f4f3;
    text-align: center;
}

.speaker .info-text5 {
    width: 150px;
    position:
        absolute;
    bottom: 10px;
    background: #f3f4f3;
    text-align: center;
}

.speaker .info-text h3 {
    font-size: 14px !important;
    font-family: inherit
}

.speaker .info-text5 h3 {
    font-size: 14px !important;
    font-family: inherit
}

.card>div {
    border-bottom:
        1px solid #ddd;
}

.schedule .card-header {
    border-bottom: none !important;
}


img:hover{
    border-color: transparent;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

h4 + h5 {
    font-size: 12px;
    font-weight:1000;
}

h5 {
    font-weight: 1000;
    font-size: 20px;
}