.navbar li a.nav-link {
	color: black !important;
}

.navbar li.active a.nav-link {
	color: #b6141f !important;
}

.navbar.navbar-expand-lg.fixed-top.scrolling-navbar {
	background-color: #f3f4f3;
}

.popup__text h1{
	font-size: 20px;
	margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
	div.popup__text p {
		min-width: 40vw;
		transform: translate(-10px);
	}

	h1 {
		min-width: 25vw;
		transform: translate(-10px);
	}
	.team123 {
		min-width: 20%;
	}
	.popup__text h1{
		font-size: 20px;
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 580px) {
	.popup__text p{
		font-size: 100%;
		line-height: 200%;
	}
	.popup__text{
		padding: 2rem;
	}
}

.members{
	transform: translateX(-20%);
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
		float: left;
		flex: 0 0 20%;
    }
}