.navbar li a.nav-link {
	color: black !important;
}

.navbar li.active a.nav-link {
	color: #b6141f !important;
}

.navbar.navbar-expand-lg.fixed-top.scrolling-navbar {
	background-color: #f3f4f3;
}

.popup__text h1{
	font-size: 20px;
	margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
	div.popup__text p {
		min-width: 40vw;
		transform: translate(-10px);
	}

	h1 {
		min-width: 25vw;
		transform: translate(-10px);
	}
	.popup__text{
		width: 100%;
	}
	.team123 {
		min-width: 20%;
	}
	.popup__text h1{
		font-size: 20px;
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 580px) {
	.popup__text p{
		font-size: 100%;
		line-height: 200%;
	}
	.popup__text{
		padding: 2rem;
	}
}